.DS_Store
*~
.directory
.Trash-*
.nfs*
.idea/
*.iml
*.exe
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
# Folders
_obj
_test
_testmain.go
cmake-build-*/
out/
.AppleDouble
._*
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
dist/
